body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#00695c;
color:white;
text-align:center;
padding:30px;
}

nav{
background:#004d40;
text-align:center;
}

nav a{
color:white;
padding:15px;
display:inline-block;
text-decoration:none;
}

nav a:hover{
background:#00796b;
}

section{
padding:30px;
}

.card{
background:white;
padding:20px;
margin:15px;
border-radius:8px;
box-shadow:0 2px 5px rgba(0,0,0,0.2);
}

footer{
background:#004d40;
color:white;
text-align:center;
padding:15px;
}
